* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background: #0d0d0d;
  font-family: 'Roboto Mono', monospace;
  position: relative;
}
.background {
  position: absolute;
  margin: auto;
  top: 0%;
  z-index: -99;
}
header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerwrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0px 32px;
}

.superuslogo {
  display: inline;
  max-width: 20px;
  max-height: 20px;
  margin-left: 3px;
}

.logotitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.022em;
  text-align: center;
  margin-left: 8px;
}
.toprighttextwrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}
.sectiontextwrapper {
}

.sectiontext {
  color: #ffffffcc;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.022em;
  text-align: right;
}
.toprighticonwrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sectiontext:hover {
  opacity: 0.7;
}

.inlinetext {
  display: inline;
}
.topleft {
  display: flex;
  align-items: center;
}

.topright {
  display: flex;
  align-items: center;
  gap: 72px;
}

.maincontentwrapper {
  margin: auto;
  width: 80%;
  max-width: 1300px;
  padding-top: 80px;
}

.textcontentwrapper {
  width: 100%;
  margin: auto;
  margin-top: 128px;
  text-align: center;
  position: relative;
}
.logoimg {
  opacity: 0.8;
}
.headline {
  font-size: 54px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #c8d1dc;
  text-shadow: 0px 0px 20px rgba(64, 89, 155, 0.6);
}

/* .heanlineshadow{
  position: absolute;
  margin: auto;
  top: 0px;
font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.04em;
  text-align: center;
  border: 0.5px solid ;
  z-index: -1;

} */

.description {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-align: center;
  color: #ffffff99;
}
.calltoactionwrapper {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.producthunt {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background: #3B3E4A;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  height: 54px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-top: 1px solid #9D9FA5;
  border-left: 1px solid #82858C;
  border-right: 1px solid #82858C;
  border-bottom: 1px solid #63666F;
}
.producthunt img {
  height: 30px;
  width: auto;
  margin-right: 16px;
}
.producthunt p {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.022em;
  color: #ffffff;
}
.tryforfree {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background: #4554f7;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-top: 1px solid #8f98fa;
  border-left: 1px solid #7f8afa;
  border-right: 1px solid #7f8afa;
  border-bottom: 1px solid #6b77f9;
}
.tryforfree p {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.022em;
  color: #ffffff;
}
.tryforfree:hover {
}
.available {
  font-size: 16px;
  font-style: italic;
  color: #29459f;
  font-weight: 100;
  margin-left: 12px;
}
.gifdemowrappermid {
  margin-top: 160px;
  margin-bottom: 200px;
}
.gifdemowrappermid img {
  border-radius: 8px;
  border-top: 1px solid #494C6C;
  border-left: 1px solid #232435;
  border-right: 1px solid #232435;
  border-bottom: 1px solid #232435;
}
footer {
  height: 80px;
  width: 100%;
}
.footerwrapper {
  display: flex;
  padding: 0px 32px;
  justify-content: space-between;
}
.copyright {
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFFCC;
}
