/* initial set up */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background: #0d0d0d;
  font-family: 'Roboto Mono', monospace;
  position: relative;
  overflow-x: hidden;
}

.background-lighteffect-svg {
  padding-bottom: 100%;
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0%;
  z-index: -99;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.background-lighteffect-svg svg {
  position: absolute;
  top: 0px;
}
.inlinetext {
  display: inline;
}
/* initial set up end*/

/* Header */
header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0px 32px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-nav-menu {
  display: flex;
  align-items: center;
  gap: 72px;
}

.superus-logo-img {
  display: inline;
  max-width: 20px;
  max-height: 20px;
  margin-left: 3px;
}

.superus-logo-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.022em;
  text-align: center;
  margin-left: 8px;
}

.header-nav-menu-sectionlink-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-nav-menu-sectionlink {
  color: #ffffff;
   opacity: 0.8;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.022em;
  text-align: right;
}

.nav-menu-sectionlink-media {
  display: none;
}

.header-nav-menu-sectionlink:hover {
  opacity: 0.4;
}

.header-nav-menu-media-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-nav-menu-media-img {
  opacity: 0.8;
}

.header-nav-menu-media-img:hover {
  opacity: 0.4;
}

.nav-menu-button {
  display: none;
}

.nav-menu-icon-hide {
  display: none;
}

/* Header End*/

/* Main Content */
.main-content-wrapper {
  margin: auto;
  width: 80%;
  max-width: 1300px;
  padding-top: 80px;
}

.main-content-introduction-wrapper {
  width: 100%;
  margin: auto;
  margin-top: 128px;
  text-align: center;
  position: relative;
}

.main-content-introduction-headline1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #c8d1dc;
  text-shadow: 0px 0px 20px rgba(64, 89, 155, 0.6);
}

.main-content-introduction-description {
  max-width: 800px;
  margin: auto;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08em;
  text-align: center;
  color: #ffffff99;
}

.main-content-introduction-button-wrapper {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.main-content-introduction-button-producthunt {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background: hsl(228, 11%, 26%);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  height: 54px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-top: 1px solid #9d9fa5;
  border-left: 1px solid #82858c;
  border-right: 1px solid #82858c;
  border-bottom: 1px solid #63666f;
}
.main-content-introduction-button-producthunt img {
  height: 30px;
  width: auto;
  margin-right: 16px;
}
.main-content-introduction-button-producthunt p {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.022em;
  color: #ffffff;
}
.main-content-introduction-button-producthunt:hover {
  background: hsl(228, 16%, 36%);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.6);
  border-top: 1px solid hsl(225, 4%, 68%);
  border-left: 1px solid hsl(222, 4%, 58%);
  border-right: 1px solid hsl(222, 4%, 58%);
  border-bottom: 1px solid hsl(225, 6%, 46%);
}

.main-content-introduction-button-tryforfree {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background: #4554f7;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-top: 1px solid #8f98fa;
  border-left: 1px solid #7f8afa;
  border-right: 1px solid #7f8afa;
  border-bottom: 1px solid #6b77f9;
}
.main-content-introduction-button-tryforfree p {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.022em;
  color: #ffffff;
}

.main-content-introduction-button-tryforfree:hover {
  background: hsl(235, 98%, 68%);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.6);
  border-top: 1px solid hsl(235, 91%, 82%);
  border-left: 1px solid hsl(235, 92%, 79%);
  border-right: 1px solid hsl(235, 92%, 79%);
  border-bottom: 1px solid hsl(235, 92%, 75%);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
}

.main-content-heroimg-wrapper {
  margin-top: 160px;
  margin-bottom: 200px;
}

.main-content-heroimg-wrapper img {
  border-radius: 8px;
  border-top: 2px solid #494c6c;
  border-left: 2px solid hsl(237, 20%, 24%);
  border-right: 2px solid hsl(237, 20%, 24%);
  border-bottom: 2px solid #232435;
}
/* Main Content End*/

/* Footer */
footer {
  height: 80px;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  padding: 0px 32px;
  justify-content: space-between;
}

.footer-copyright-wrapper {
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.6);
  cursor: default;
}

.footer-links-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.footer-links {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.022em;
  text-align: right;
}

.footer-links :hover {
  color: hsla(0, 0%, 100%, 0.8);
}
/* Footer End */

@media screen and (max-width: 1500px) and (min-width: 900px) {
  .main-content-introduction-headline1 {
    font-size: calc(100vw / 37.5);
  }
  .main-content-introduction-description {
    font-size: calc((100vw + 1500px) / 150);
  }
}

@media screen and (max-width: 900px) {
  .main-content-introduction-headline1 {
    font-size: 24px;
    line-height: 32px;
  }

  .main-content-introduction-description {
    font-size: 16px;
  }

  .header-nav-menu {
    display: none;
    position: absolute;
    left: 0px;
    top: 120px;
    width: 100%;
  }

  .header-nav-menu-sectionlink-wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 32px;
    width: 100%;
    gap: 16px;
  }

  .header-nav-menu-media-wrapper {
    display: none;
  }
  .nav-menu-sectionlink-media {
    display: unset;
  }
  .header-nav-menu-sectionlink {
    display: block;
    padding: 12px;
    font-size: 20px;
    font-weight: 600;
    color: hsla(0, 0%, 100%, 0.6);
  }
  .nav-menu-button {
    display: unset;
    opacity: 0.8;
  }

  .main-content-heroimg-wrapper img {
    border-top: 1px solid #494c6c;
    border-left: 1px solid hsl(237, 20%, 24%);
    border-right: 1px solid hsl(237, 20%, 24%);
    border-bottom: 1px solid #232435;
  }

  .main-content-introduction-button-wrapper {
    gap: 16px;
    margin-top: 48px;
  }

  .main-content-introduction-button-producthunt,
  .main-content-introduction-button-tryforfree {
    padding: 8px 16px;
    height: 48px;
  }
  .main-content-introduction-button-producthunt img {
    margin-right: 8px;
    height: 20px;
  }
  .main-content-introduction-button-producthunt p,
  .main-content-introduction-button-tryforfree p {
    font-size: 14px;
  }

  .main-content-heroimg-wrapper {
    margin-top: 80px;
    margin-bottom: 100px;
  }

  footer {
    height: 80px;
  }

  .footer-copyright-wrapper {
    text-align: start;
    font-size: 14px;
  }
  .footer-links-wrapper {
    gap: 24px;
  }
  .footer-links {
    font-size: 14px;
    text-align: start;
  }
}

@media screen and (max-width: 540px) {
  .superus-logo-text {
    font-size: 16px;
    color: #ffffffcc;
  }
  .main-content-introduction-headline1 {
    font-size: 20px;
    line-height: 28px;
  }

  .main-content-introduction-description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
  }
  .header-wrapper {
    padding: 0px 20px;
  }
  .header-nav-menu-sectionlink-wrapper {
    padding: 0px 20px;
  }
  .main-content-wrapper {
    width: calc(100vw - 40px);
  }
  .main-content-introduction-wrapper {
    margin-top: 54px;
  }
  .footer-wrapper{
    padding: 0px 20px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-copyright-wrapper {
    color: hsl(0, 0%, 30%);
    font-size: 12px;
  }
  .footer-links {
    color: hsl(0, 0%, 30%);
    font-size: 12px;
  }
  .footer-links-wrapper{
    gap: 16px;
  }
}

body.showing-menu main,
body.showing-menu footer {
  display: none;
}

body.showing-menu .header-nav-menu {
  display: unset;
}

body.showing-menu .nav-menu-icon-show {
  display: none;
}

body.showing-menu .nav-menu-icon-hide {
  display: unset;
}
