/*
font-family: 'Roboto', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: #dbdff0;
  font-family: 'Nunito Sans', sans-serif;
}

header {
  width: calc(100vw - 72px);
  height: 60px;
  position: absolute;
  top: 0px;
  padding: 0px 36px;
  z-index: 1;
}
.headerwrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1300px;
}

.superuslogo {
  display: inline;
  max-width: 36px;
  max-height: 36px;
}
.logoimg {
  display: inline;
  max-width: 36px;
  max-height: 36px;
  transform: translate(0, 2px);
}
.logoimg:hover {
  opacity: 0.8;
}

.logotitle {
  /* font-family: 'Roboto', sans-serif; */
  font-size: 24px;
  color: #29459f;
  font-weight: 800;
  line-height: 60px;
}
.sectiontext {
  /* font-family: 'Roboto', sans-serif; */
  font-size: 18px;
  color: #29459f;
  font-weight: 800;
  line-height: 60px;
}
.sectiontext:hover {
  opacity: 0.7;
}
.inlinetext {
  display: inline;
}
.topleft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.topright {
  display: flex;
  align-items: center;
  gap: 24px;
}

main {
  height: 100vh;
  position: relative;
  padding: 0px 36px;
}

.maincontentwrapper {
  margin: auto;
  width: calc(100% - 72px);
  max-width: 1300px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  display: grid;
  grid-template-columns: 5fr 5fr;
}

.textcontentwrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 32px 16px 0px;
}

.headline {
  font-size: 50px;
  color: #15234f;
  font-weight: 1000;
  margin-bottom: 24px;
}
.description {
  font-size: 20px;
  color: #29459f;
  font-weight: 300;
}
.tryforfree {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  background-color: #29459f;
  border-radius: 8px;
  width: 200px;
  height: 50px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.tryforfree:hover {
  background-color: #4867e6;
  box-shadow: var(--shd, 2px 4px 6px rgba(0, 22, 144, 0.2));
}
.available {
  font-size: 16px;
  font-style: italic;
  color: #29459f;
  font-weight: 100;
  margin-left: 12px;
}
.gifdemo {
  border-radius: 8px;
}

@media only screen and (max-width: 1300px) {
  .maincontentwrapper {
    grid-template-columns: 5fr 5fr;
  }
  .textcontentwrapper {
    padding: 0px 24px 0px 0px;
  }
  .headline {
    font-size: calc(100vw * 0.04 - 2px);
    margin-bottom: 24px;
  }
  .superuslogo {
    width: calc(100vw*0.04 - 16px);
    height: calc(100vw*0.04 - 16px);
  }
  .logotitle {
    font-size: calc(100vw*0.02 - 2px);
  }
  .description {
    font-size: 20px;
    max-width: 550px;
  }
}

@media only screen and (max-width: 1000px) {
  .maincontentwrapper {
    top: 60%;
    transform: translate(-50%, -60%);
  }
  .gifdemowrapper {
    display: none;
  }
  .maincontentwrapper {
    grid-template-columns: 1fr;
  }
  .textcontentwrapper {
    text-align: center;
    padding: 0;
  }
  .headline {
    font-size: calc(100vw*0.013 + 25px);
    margin-bottom: 16px;
  }
  .superuslogo {
    width: 24px;
    height: 24px;
  }
  .logotitle {
    font-size: 18px;
  }

  .description {
    font-size: 18px;
    max-width: 600px;
    margin: auto;
  }
  .gifdemowrappermid {
    width: 460px;
    margin: auto;
    margin-bottom: 42px;
    margin-top: 80px;
  }

  .downloadwrapper {
    width: 100%;
  }

  .available {
    display: block;
    margin-left: 0px;
    margin-top: 12px;
  }

  .tryforfree {
    left: 0px;
  }
}

@media only screen and (max-width: 550px) {
  .gifdemowrappermid {
    width: 100%;
    max-width: 460px;
    margin: auto;
    margin-bottom: 42px;
    margin-top: 80px;
  }

  .sectiontextwrapper {
    display: none;
  }

  .headline {
    width: calc(100%);
    font-size: 32px;
  }
  header {
    width: calc(100vw - 36px);
    padding: 0px 18px;
  }
  .maincontentwrapper {
    width: calc(100% - 36px);
  }
  .description {
    font-size: 18px;
    max-width: 600px;
    margin: auto;
  }
  .available {
    display: block;
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .maincontentwrapper {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .headline {
    font-size: 28px;
  }
  .logoimg {
    width: 30px;
    height: 30px;
  }
  .description {
    font-size: 16px;
  }
  .tryforfree {
    font-size: 18px;
  }
  .available {
    margin-top: 8px;
  }
}

@media only screen and (min-width: 1001px) {
  .gifdemowrappermid {
    display: none;
  }
}

@media only screen and (max-height: 900px) {
  .headline {
    margin-bottom: calc(100vh * 0.08 - 56px);
  }
  .gifdemowrappermid {
    margin-top: calc(100vh * 0.64 - 496px);
    margin-bottom: calc(100vh * 0.2 - 138px);
  }
}
@media only screen and (max-height: 850px) {
  .headline {
    margin-bottom: 12px;
  }
  .gifdemowrappermid {
    margin-top: 48px;
    margin-bottom: 32px;
  }
}
@media only screen and (max-height: 800px) {
  main {
    height: 800px;
  }
}
